*{
    padding: 0;
    margin: 0;
}
.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.item-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.bg-grey{
    background-color: rgb(47, 45, 45);
}

.invert{
    filter: invert(1);
}

.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}







::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #3a3a3a, #1f1f1f);
    border-radius: 20px;
    border: 2px solid #121212;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #555, #2a2a2a);
}